ol, ul, li, a, h1, h2, h3, h4, h5, h6, p, div, span{ padding:0px; margin:0px; }
body{ padding:0px; margin:0px; font-family:Open Sans; border-top: 3px solid #36A2D2;}
.clear { clear:both; }
/*header*/
.logo img { padding: 15px 0; }
.menu{ background:url(../images/menu_bg.png) no-repeat;  border-right: 3px solid #36A2D2; margin:-4px;}
.menu_l p { color: #E67817; font-size: 24px; margin-top: 8px; padding-left: 138px; }
.menu_l a { color: #434443; text-decoration: none; }
.menu_l img { margin-bottom: -9px; }
.menu_l ul { padding: 10px 0 23px 94px; }
.menu_l li { display: inline; list-style: none outside none; }
.menu_r li { display: inline; list-style: none outside none; padding: 0 6px; }
.menu_r ul { float: right; margin-top: 8px; }
.menu_r li a { text-decoration: none;}
.gone { background: none repeat scroll 0 0 #F29F57 !important; }
.input-append.Search_go { float: right; margin-right: 11px; margin-top: 10px; }

.add-on.gone  a { padding: 0 5px; text-decoration: none; font-weight: bold; }

/*menu*/
.main_menu { background:#36a2d2; height:30px; padding-top:5px; }
/*.main_menu1 a { color: #FFFFFF; font-size: 13px; text-decoration: none; font-family:Arial, Helvetica, sans-serif;padding: 6px 9px; line-height:26px; }
.main_menu1 li { display: inline; list-style: none outside none; margin: 0 15px; padding: 0 5px; }
.main_menu1 select { display: none; }
.main_menu1 a:hover { background: none repeat scroll 0 0 #E67817; border-radius: 5px; padding: 6px 9px; }
.main_menu1 .active{ background: none repeat scroll 0 0 #E67817; border-radius: 5px; padding: 6px 9px; }

#dropdown{ background:url(../images/menu.png) right no-repeat;}

.main_menu1 ul li ul { background: none repeat scroll 0 0 #36A2D2; float: left; margin-left: 230px; position: absolute; top: 160px; z-index: 9999; }
.main_menu1 ul  li ul li{ position:relative; border:solid 1px #cccccc; display:block; padding: 6px 29px; margin:0px !important;}
.main_menu1 ul  li ul li a{ font-size:13px;  margin-left: -25px;}
.main_menu1 ul li ul li:hover{background:#E67817; cursor:pointer}
.main_menu1 ul  li ul li a:hover{background:none}
.main_menu1 ul  li ul li:hover a{color:#fff; cursor:pointer}
.main_menu1 ul  li:hover ul{display:block; padding:0px;}
.main_menu1 ul li ul{display:none; }*/
#dropdown{ background:url(../img/menu.png) right no-repeat;}
#drop{ display:none;}
* {
    list-style:none;
    margin:0;
    padding:0;
    font-size:1em;
    cursor:pointer;
}
#menu > li:hover, .active {
    background: none repeat scroll 0 0 #E67817;
    border-radius: 5px;
    margin-top: -2px;
    padding: 4px 0;
}
#menu > li{            /* Top Level */
    float:left;
    margin-right:3px;
}
#menu > li > span a{
     padding: 0 22px;color: #FFFFFF; font-size:13px; text-decoration:none;
}
#menu > li:hover > span{
    color:#fff;
	
}

#menu > li > ul{        /* Second Level */
    display:none;
    background:#08a;
	z-index:9999;margin-top: 4px;
}
#menu > li:hover > ul{
    display:block;
    position:absolute;
}
#menu > li > ul > li > span a{ color:#FFF; text-decoration:none;}
#menu > li > ul > li > span{
    display:block;
    padding:3px 10px;
    border-top:solid 3px #fff;
	background:#36A2D2;
}
#menu > li > ul > li:hover > span{
    color:#fff;
	background:#E67817;
}

#menu > li > ul li > ul{   /* Third Level & beyond */
    display:none;
    background:#068;
	z-index:9999;
}
#menu > li > ul li:hover > ul{
    display:block;
    position:absolute;
    left:100%;
    border-left:solid 3px #fff;
    top:0;
    width:auto;
}

#me2 a {
    color: #FFFFFF; text-decoration:none;
}
#menu > li > ul > li ul > li > span > a{ color:#FFF; text-decoration:none;}
#menu > li > ul > li ul > li{
    display:block;
    padding:3px 10px;
    border-top:solid 3px #fff;
    white-space:nowrap;
	background:#36A2D2;
}
#menu > li > ul > li ul > li:hover{background:#E67817;}
#menu > li > ul > li ul > li:hover > span a{
    color:#fff;
}
#me_1 {
    margin-top: 32px;
}
#me2 {
    margin-top: 64px;
}
#me3 {
    margin-top: 96px;
}

/*slider*/
.slider img { margin-top: 13px; width: 100%; }

/*mid*/
.start{border:#bbbaba solid 1px; margin: 10px 0;}

.mid_mg p { color: #6F6F6F; font-family: arial; font-size: 13px; line-height:36px; }
.Energy > img { display: none; }
.info a { color: #E67817; font-family: arial; font-size: 12px; text-decoration: none; float: right; text-transform: uppercase; line-height:24px; }
.info a:hover {color: #b9b8b8;}
.info { margin-top: 7px; }
.mid_count { background: none repeat scroll 0 0 #E7E6E6; border-radius: 6px; padding: 10px 0px; margin-bottom: 17px; border: 1px solid #36A2D2; }
.mid_part_l a { color: #4F4E4E; font-family: arial; font-size: 12px; text-decoration: none; }
.mid_part_l a:hover { color: #e67817;}
.mid_part_l ul{ padding:0 8px;}
.mid_part_l li { border-bottom: 1px dashed #C0BFBF; list-style: none outside none; padding: 3px 16px; background:url(../images/left_menu.png) no-repeat left; }
.mid_part { margin-bottom: 17px; }
.mid_part_l h1 { color: #FFFDFD; font-size: 18px; font-weight: normal; margin-top: -10px; padding: 6px 40px; margin-left: 12px; background:url(../images/a.png) no-repeat left; text-transform: uppercase; }
.our{background:#36A2D2;border-radius: 6px 6px 0 0;}

.mid_part_l h2 { color: #FFFDFD; font-size: 18px; font-weight: normal; margin-top: -10px; padding: 6px 40px; margin-left: 12px; background:url(../images/b.png) no-repeat left; text-transform: uppercase; }
.mid_part_r p { color: #767676; font-family: arial; font-size: 14px; }
.mid_part_r h1 { font-size: 18px; font-weight: normal; padding-bottom: 15px; }

.Energy p { line-height: 20px; }
.Energy a { color: #E67817; font-size: 12px; text-decoration: none; margin:15px; }
.Energy a:hover { color: #b9b8b8; }
.feature h1 { color: #FFFDFD; font-size: 18px; font-weight: normal; padding: 6px 40px; margin-left: 12px; background:url(../images/a.png) no-repeat left; text-transform: uppercase; }
.feature { margin-top: 41px; }

.fp img { margin-bottom: 13px; margin-top: 13px; }
.fp p { color: #4F4E4E; font-family: open sans; font-size: 14px; }

#single { color: #E67817; }
#last{ background:url(../images/al.png) no-repeat left; padding-left: 26px;}
#first{ background:url(../images/ar.png) no-repeat right; padding-right: 26px;}
.feature_pro { background: none repeat scroll 0 0 #E7E6E6; border-radius: 0 0 6px 6px; margin-bottom: 17px; padding: 10px 24px; border: 1px solid #36A2D2; }
.mid_head{ background:#36A2D2;border-radius: 6px 6px 0 0; color: #FFFFFF; text-decoration: none; text-transform: uppercase; font-size:14px;}
.mid_head li { display: inline; list-style: none outside none; }
.mid_head ul { padding: 5px 11px; }
#f{ background:url(../images/5.png) no-repeat left;padding: 4px 10px 4px 33px;}
#m{ background:url(../images/6.png) no-repeat left;padding: 4px 10px 4px 33px;}
#l{ background:url(../images/7.png) no-repeat left;padding: 4px 10px 4px 33px;}

.mid_foot li { display: inline; list-style: none outside none; padding: 0 7px; }
.footer { background: none repeat scroll 0 0 #E7E6E6; border-top: 1px solid #36A2D2; }
.foot1 h5 { border-bottom: 1px dotted; color: #4F4E4E; font-size: 14px; font-weight: normal; margin-bottom: 11px; padding: 6px 0; }
.foot1 a { color: #585858; font-size: 13px; text-decoration: none; }
.foot1 a:hover { color: #e67817; }
.foot1 li { list-style: none outside none; background:url(../images/foot.png) no-repeat left; padding-left: 8px; }

.copyright p { color: #FFFFFF; padding: 10px 0; text-align: center; }
.copyright p a { color: #FFFFFF; text-decoration:none }
.copyright p a:hover { color: #c4c3c2; }
.copyright { background: none repeat scroll 0 0 #36A2D2; margin-top: 10px; }

/**inner pages css**/
.inner-page p{color: #767676;font-family: arial; font-size: 14px;}

.inner-page h1{font-size: 18px; font-weight: normal; padding-bottom: 15px;}
.download{border-bottom:1px solid #CCC; padding-bottom:10px;}
.download h1{font-family:Arial, Helvetica; font-size:12px !important; font-weight:bold; color:#e56f07; text-decoration:none;  padding-top:20px; font-size:14px;}
.download p{font-family:Arial, Helvetica; font-size:12px; font-weight:normal; color:#5E5D5D; text-align:justify; padding-bottom: 15px;}
.download span a{font-family:Arial;font-size:14px; font-weight:bold; color:#36a2d2; padding-bottom:10px; padding-left:40px; background:url(../images/download-img.png) no-repeat left; padding-top:15px; text-decoration:none}
.download span a:hover{color:#999999}
.isi-icon{padding-top:15px;}
.mark{padding-top:15px;}
.mark h1{font-family:Arial, Helvetica; font-size:12px !important; font-weight:bold; color:#e56f07; text-decoration:none; font-size:14px;}
.mark p{font-family:Arial, Helvetica; font-size:12px; font-weight:normal; color:#5E5D5D; text-align:justify}

.software{border-bottom:1px solid #CCC; padding-bottom:10px;}
.software h1{font-family:Arial, Helvetica; font-size:12px !important; font-weight:bold; color:#e56f07; text-decoration:none;  padding-top:20px; font-size:14px;}
.software p{font-family:Arial, Helvetica; font-size:12px; font-weight:normal; color:#5E5D5D; text-align:justify; padding-bottom: 15px;}
.software span a{font-family:Arial;font-size:14px; font-weight:bold; color:#36a2d2; padding-bottom:10px; padding-left:40px; background:url(../images/software-img.png) no-repeat left; padding-top:15px; text-decoration:none}
.software span a:hover{color:#999999}

.news h1{font-family:ariel; font-size:17px; color:#666; padding-top:15px;}
.news span{font-family:"open-sans"; font-size:15px; color:#666;}
.news p{font-family:verdana; font-size:13px; color:#666; padding-top:10px; border-bottom:1px dotted #CCC; padding-bottom:10px;}
.news img{float:left; padding:0px 10px 10px 0px;  }

.contact h1{font-family:ariel; font-size:17px; color:#666;}
.contact p{font-family:verdana; font-size:13px; color:#666; }

.form legend{border:none !important;}
.form .form-label label{padding-right:30px; padding-top:5px;}
.map-img img{border:#CCC 1px solid;}

.product-details h1{font-family:ariel; font-size:17px; color:#666;}
.product-details span{font-family:"open-sans"; font-size:15px; color:#666;}
.product-details p{font-family:verdana; font-size:13px; color:#666; padding-top:10px;  padding-bottom:10px;}
.product-details img{float:left; padding:0px 10px 10px 0px; }
.product-details ul{padding-left:15px;}
.product-details ul li{font-family:verdana; font-size:13px; color:#666; padding-top:10px; }

.Vedio_name {
    text-align: center;margin-bottom: 9px;
}
.Vedio_name img {
		margin-bottom:8px;
}