RewriteEngine On
RewriteBase /careerask.com/

# ErrorDocument 404 /index.php?page=404
#RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?page=$1 [QSA,L]
#RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?page=$1&page2=$2 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?page=$1 [L,QSA]
RewriteRule ^(.*)/(.*).html$ index.php?page=$1&page2=$2 [L,QSA]
RewriteRule ^(.*)/$ index.php?page=$1&page2=index [L,QSA]



# RewriteRule ^admin/$ index.php?page=$1&page2=$2 [QSA,L]


# RewriteCond %{HTTP_HOST} !^www.careerask.com$ [NC]
# RewriteRule ^(.*)$ http://www.careerask.com/$1 [L,R=301]

# RewriteRule ^contact.html$ index.php?page=contact [QSA,L]
# RewriteRule ^login/(.*)$ login.php?retry=$1 [QSA,L]
# RewriteRule ^register/(.*)/(.*).html$ newuser.php?newemail=$1&task=$2 [QSA,L]
# RewriteRule ^editprofile$ Updateuser.php
# RewriteRule ^more/(.*)/([0-9]+)$ more.php?catname=$1&page=$2 
# RewriteRule ^addtocart/(.*)/([0-9]+)/([0-9]+)$ shopingcart.php?cat=$1&cid=$2&pid=$3 [QSA,L]
# RewriteRule ^products/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ view/products.php?id=$1&sid=$2
# RewriteRule ^products/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ view/products.php?id=$1&sid=$2